* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #e9eff6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  color: #12263a;
  margin-bottom: 1rem;
}

.number {
  font-size: 5rem;
  font-weight: 700;
  color: black;
  margin-bottom: 1.5rem;
  transition: color 0.3s ease;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  background: transparent;
  border: 2px solid #12263a;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  font-size: 1rem;
  letter-spacing: 2px;
  cursor: pointer;
  color: #12263a;
  transition: all 0.3s ease;
}

.btn:hover {
  background: #12263a;
  color: white;
}
